// Colors
$bg-color: 
linear-gradient(
  303.79deg, 
  #F0C3FC -53.74%, 
  #D7BEFC -4.64%, 
  #BCB1FC 40.96%, 
  #A1AEFC 83.05%, 
  #94BDFC 127.47%, 
  #8EC5FC 170.73%
),
linear-gradient(
  0deg, 
  #84FAB0 0%, 
  #85F9BC 21.87%, 
  #88F8D7 42.19%, 
  #8BF6F5 60.94%, 
  #8EDDF5 80.73%, 
  #8FD3F4 100%
);

$black: #202427;
$ligth-gray: #c7ccd1;
$gray: #8f99a3;
$iris: #5d5fef;
$pink: #ef5da8;
$primary: #2578f4;
$white: #fff;


$shadow-base: 0px 15px 24px 0px #0e002024;

// Typography
$font-family: 'Inter', sans-serif;
$font-size-base: 0.875rem;
$fz-small: 0.75rem;
$fc-gray: #3e4958;

// Components
$transition-base: 0.15s ease-in-out;
